<pip-selected (onSelect)="onSelect($event)" [index]="index" [disableSelect]="state == 'edit'">
    <mat-nav-list [ngSwitch]="state">
        <div *ngSwitchCase="'progress'">
            <pip-empty-state class="pip-show-xs-sm">
                <pip-empty-state-title [text]="progressText" [imageUrl]="progressImageUrl"></pip-empty-state-title>
                <div class="pip-progress">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </pip-empty-state>
            <pip-empty-state class="pip-show-gt-sm">
                <div class="pip-show-gt-sm iqs-menu-empty"></div>
            </pip-empty-state>
        </div>


        <div *ngSwitchDefault>
            <pip-ref-item *ngFor="let message of messages; trackBy: message?.id" pipSelectable
                (click)="select(message?.id)" [id]="message.id" [title]="message.name" [subtitle]="message.status"
                [defaultIconBackground]="MessageColor" [letterSource]="message.name.toUpperCase()">
            </pip-ref-item>
        </div>

        <div *ngSwitchCase="'create'">
            <pip-ref-item class="pip-selectable pip-selected-item" [title]="newMessageText"
                [subtitle]="newMessageSubText" [defaultIconBackground]="MessageColor" [letterSource]="'+'">
            </pip-ref-item>

            <pip-ref-item *ngFor="let message of messages; trackBy: message?.id" (click)="select(message?.id)"
                [id]="message.id" [title]="message.name" [subtitle]="message.status"
                [defaultIconBackground]="MessageColor" [letterSource]="message.name.toUpperCase()">
            </pip-ref-item>
        </div>



        <!-- 
        <div *ngSwitchCase="'empty'">
            <pip-empty-state class="pip-show-xs-sm">
                <pip-empty-state-title [text]="emptyText" [subText]="emptySubText" [imageUrl]="emptyImageUrl"></pip-empty-state-title>
                <pip-empty-state-actions [actions]="emptyStateActions"></pip-empty-state-actions>
            </pip-empty-state>
            <img class="pip-show-gt-sm pip-list-empty" src="{{ emptyListUrl }}" alt="{{ emptyListUrl || 'empty messages' }}">
        </div>

        <div *ngSwitchCase="'data'">
            <mat-list-item *ngFor="let message of messages" pipSelectable>
                <div class="pip-ref-item">
                    <div matLine class="pip-title text-overflow" *ngIf="message.name"> {{message.name}} </div>
                    <p matLine class="pip-subtitle text-overflow" *ngIf="message.status">
                        <span>{{message.status}} </span>
                    </p>
                </div>
            </mat-list-item>
        </div>

        <div *ngSwitchCase="'update'">
            <mat-list-item *ngFor="let message of messages" pipSelectable>
                <div class="pip-ref-item">
                    <div matLine class="pip-title text-overflow" *ngIf="message.name"> {{message.name}} </div>
                    <p matLine class="pip-subtitle text-overflow" *ngIf="message.status">
                        <span>{{message.status}} </span>
                    </p>
                </div>
            </mat-list-item>
        </div>

        <div *ngSwitchCase="'create'">
            <mat-list-item *ngFor="let message of messages">
                <pip-ref-item [id]="message.id" [title]="message.name" [subtitle]="message.status"></pip-ref-item>
            </mat-list-item>
        </div> -->

    </mat-nav-list>
</pip-selected>