:host {
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    pip-scrollable-content {
        flex: 1;
        display: flex;

        pip-message-list {
            flex: 1;

            ::ng-deep pip-selected {
                height: 100%;

                mat-nav-list {
                    height: 100%;
                    box-sizing: border-box;

                    &>div {
                        height: 100%;

                        pip-empty-state {
                            &>div {
                                width: 100%;
                                height: 100%;

                                &>.iqs-menu-empty {
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(/assets/menu-empty.svg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

pip-document-content {
    height: calc(100% - 32px);
}

.pip-progress {
    width: 100%;
    text-align: center;

    mat-progress-bar {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 16px;
    }
}

// .scroll-container {
//     position: relative;
//     border-right: none;
//     width: 100%;
//     overflow-y: auto;
//     overflow-x: hidden;
//     max-height: calc( 100%);
//     min-height: calc( 100%);
//     max-height: calc( 100%);
// }

.pip-fab {
    position: absolute;
    top: calc(100% - 80px);
    right: 24px;
}

.pip-menu-layout .pip-menu {
    position: relative;
}